.joke_btn {
    width: 200px;
    height: 50px;
    border: 1px solid Black;
    border-radius: 5px;
    background-color: DimGray;
    padding: 15px 25px;
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 1px;
    color: Black;
    cursor: pointer
  }
  .joke_btn:hover {
    background: DarkGray
  }